@import "bootstrap/bootstrap.scss";

$tan:       #FFF8E6;
$red:   	  #CE3100;
$dark-red:  #9E0C1E;
$blue:      #1C2C53;

body{
	font-family: 'Vollkorn', serif;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Vollkorn', serif;
}
h1{
	font-weight: 800;
	color: $blue;
}

.navbar-light{
	background-color: $tan;
}

.navbar-brand{
	float: left;
}
.navbar-toggler{
	float: right;
}
.navbar-toggleable-xs{
	clear: left;
}

.jumbotron{
	background: $tan;
	margin-bottom: 0;
	h1{
		font-family: 'Unica One', sans-serif;
		text-align: center;
		color: $red;
		font-size: 1.5em;
	}
}

.introduction{
	padding-top: 3rem;
	padding-bottom: 3rem;

	h1{
		text-align: center;
		font-size: 2em;
		font-style: italic;
		margin-bottom: 2rem;
	}
	h2{
		font-family: 'Unica One', sans-serif;
		font-size: 1.5em;
		text-align: center;
		max-width: 15rem;
		margin: 0 auto;
		margin-bottom: 2rem;
		color: $red;
	}
	h3{
		font-size: 1.3em;
	}
	p{
		margin-bottom: 1rem;
		text-align: justify;
	}
}

.call-to-action{
	h1{
		text-align: center;
		font-size: 2em;
		font-style: italic;
		max-width: 20rem;
		margin: 0 auto;
		margin-bottom: 2rem;
	}

	.block{
		background: $tan;
		padding: 1em;
		margin-bottom: 1rem;
		display: block;
		@include clearfix();
		h3{
			float: left;
			font-size: 1.25em;
			display: block;
			padding: .66rem 0;
			font-weight: 600;
			font-style: italic;
		}
		a{
			font-weight: 400;
			float: right;
			dsplay: block;
			padding: .66rem;
			background: $dark-red;
			color: #fff;
			text-align: center;
			min-width: 7rem;
		}
	}
}

.information{
	padding: 0 2rem;
	max-width: 40rem;
	margin: 0 auto;
}

.header-icon{
	margin: 0 auto;
	display: block;
	max-width: 6rem;
	margin-bottom: 1rem;
}